
    <div class="page">

        <app-cabezera></app-cabezera>
        <div class="page-content d-flex align-items-stretch">
  
       <app-menu></app-menu>
  
         <div class="content-inner">
  
               <header class="page-header">
                <div class="container-fluid">
                  <h2 class="no-margin-bottom text-center">Notas de Débito</h2>
                </div>
              </header>
  
              <div class="container main animated fadeIn">
                  <div class="fondo">
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-list"></i> Notas de Débito</li>
                          </ol>
                        </nav>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#agregar">Agregar Nota</button>
                    
                    <div class="table-responsive to">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>    
      
              <app-footer></app-footer>
              </div>
            </div>
      </div>


