



    <div class="page">

      <app-cabezera></app-cabezera>
      <div class="page-content d-flex align-items-stretch">

     <app-menu></app-menu>

       <div class="content-inner">

             <header class="page-header">
              <div class="container-fluid">
                <h2 class="no-margin-bottom text-center">Inventario Cuarteos</h2>
              </div>
            </header>

         <div class="container main">
            <div class="fondo">
              <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['cuarteoList']"><i class="fa fa-list"></i>  Listado Cuarteo</a>
               <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['cuarteoAdd']" ><i class="fa fa-plus-square"></i>  Agregar Cuarteo</a>
               <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['inventarioCuerteo']" ><i class="fa fa-pencil"></i>  Inventario Cuarteo</a>
              </nav>
              <router-outlet></router-outlet>

        <app-footer></app-footer>
        </div>
      </div>
    </div>
