

<div class="page">

  <app-cabezera></app-cabezera>
  <div class="page-content d-flex align-items-stretch">

 <app-menu></app-menu>

   <div class="content-inner">

         <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom text-center">Productos</h2>
          </div>
        </header>

     <div class="container main  to animated fadeIn">
        <div class="fondo">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active " aria-current="page"> <i class="fa fa-list"></i> Listado de usuarios del istema </li>
            </ol>
          </nav>
          <div class="row tops" >
            <div class="col">
              <div class="card text-center">
            <h5 class="card-header text-success">Exitos!!</h5>
            <div class="card-body">
              <h5 class="card-title">Usuario Modificado!</h5>
              <p class="card-text text-info">El usuario ha sido <strong>modificado</strong> correctamente en la base de datos.</p>
              <!-- <button (click)="back()" class="btn btn-danger">Volver</button> -->
            </div>
          </div>
            </div>
          </div>

    <app-footer></app-footer>
    </div>
  </div>
</div>