<div class="container to animated fadeIn" >
  <nav aria-label="breadcrumb to">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"> <i class="fa fa-list"></i> Listado de Cuentas Corrientes</li>
  </ol>
  </nav>

  <hr>
  <form #forma="ngForm" (ngSubmit)="cli(forma)" *ngIf="formu==false" >
    <div class="row">

      <div class="col-md-3"></div>
    <div class="col-md-7 to" >
      <div class="input-group">
       <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"> </i> </span>
       </div>
       <input (keypress)="dataToggle1()" type="text" name="nombreCliente" [(ngModel)]="nombreCliente" autocomplete="off" class="form-control" placeholder="Elija un Cliente" aria-label="Username" aria-describedby="basic-addon1"  autocomplete="off">
       <input  type="hidden" name="idCliente" [(ngModel)]="idCliente" autocomplete="off" class="form-control" placeholder="Elija un Cliente" aria-label="Username" aria-describedby="basic-addon1"  autocomplete="off" required>
    </div>

    <div class="product" *ngIf="toggle1">
        <div class="alert alert-primary">
         <div (click)="selectCli(item)" class="data" *ngFor="let item of datas | dataFilter : nombreCliente">
           {{ item.nombreCliente }}
         </div>
         </div>
    </div>
   </div>
   <div class="col-md-4"></div>
   <div class="col-md-4 to">
        <button [disabled]="forma.invalid"
        type="submit" class="btn btn-outline-success verifi">Aceptar</button>
   </div>
 </div>
  </form>

  <div class=" to  animated fadeIn" *ngIf="formu == true">
    <div class="text-center">
      <div class="card">
        <div class="card-body">
          <button type="button" (click)="salir()" class="btn btn-outline-success">Nueva Busqueda</button>
          <h3>Cliente: <i class="text-info">{{ nombreCliente | uppercase}}</i></h3>
        </div>
      </div>
    </div>
   <div class="table-responsive " >
  <table class="table table-bordered table-hover">
    <thead class="bg-primary text-white ">
  <tr>
    <td scope="col">Ver</td>
    <td scope="col">Nro. Factura</td>
    <td scope="col">Fecha de Venta</td>
    <td scope="col">Monto  Factura</td>
  </tr>
</thead>
<tbody>

  <tr *ngFor="let item of todo">
    <td>
      <a (click)="facturar(item.nroFactura, item.nombreCliente, item.direccionCliente,item.telefonoCliente, item.fecha , item.totalVenta)"
        title="Imprimir Factura" class="btn btn-outline-success btn-sm">
        <i class="fas fa-eye"></i>
      </a>
    </td>
    <td>{{ item.nroFactura}}</td>
    <td>{{ item.fecha | date: 'dd/MM/yyyy'}}</td>
    <td>$ {{ item.totalVenta | number}}</td>
  </tr>
  <tr class="table-warning ">
    <td colspan="2"><strong>Total Compra</strong></td>
    <td class="text-right"><strong>$ {{ subtotal | number }}</strong></td>
  </tr>
  <tr class="table-warning ">
    <td colspan="2"><strong>Saldo Pendientes</strong></td>
    <td class="text-right" ><strong>$ {{ saldo | number }}</strong></td>

  </tr>
  <tr class="table-warning">
    <td colspan="2"><strong>Saldo Final</strong></td>
    <td class="text-right"><strong>$ {{ saldo + subtotal  | number }}</strong></td>
  </tr>
</tbody>
  </table>


    <form #forma="ngForm" (ngSubmit)="deuda(forma)">
    <div class="row">
      <div class="col-md-6">
      <input type="hidden" name="idCliente" [(ngModel)]="idCliente">
      <input type="hidden" name="subTotal" [(ngModel)]="subtotal+saldo">
      <select class="custom-select" name="idVendedor" ngModel required>
        <option value="" disabled >Elegir Vendedor</option>
        <option *ngFor="let item of ven"  [ngValue]="item.idVendedor">{{item.nombreVendedor}}</option>
      </select>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-4 to">
      <button [disabled]="forma.invalid"
      type="submit"  class="btn btn-outline-success">Generar Cobro</button>
    </div>
  </div>
    </form>

</div>
</div>
</div>


<div class="modal animated fadeIn" id="vacio" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cliente: {{nombreCliente }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-warning">Este cliente ya tiene generado el pago o no ha realizado ninguna compra .</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal()" data-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal ver facturas-->
<div class="modal fade" id="factura"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document" id="mdialTamanio">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title text-danger text-center" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="facturas" #facturas>
        <hr>
        <br><br><br>
        <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-8">
            <img src="assets/img/logo.jpg" alt="" width="330">
          </div>
          <div class="col-md-4">
            <p></p>
            <h2>   Nro.Factura : {{ factura }} </h2>
            <h4>  Fecha : {{fecha | date: "dd/MM/yyyy" }} </h4>
          </div>
          <div class="col-md-6"></div>
        </div>
        <hr>
        <br>
          <table class="table table-hover">
            <tr>
              <td>
                <h3><u>Datos de la empresa</u></h3>
                <br>
                 <p class="display-5">Provincia: Santa Fe - Localidad: Arroyo Seco</p>
                 <p class="display-5">IVA: Iva Inscripto</p>
                <p class="display-5"> CUIT: 20-30590206-4</p>
              </td>
              <td></td>
              <td>
                  <h3><u>Datos del Cliente</u></h3>
                <br>
                <p class="display-5">Cliente: {{ nombreCliente }}</p>
                <p class="display-5">Teléfono: {{ telefonoCliente }}</p>
                <p class="display-5">Dirección: {{ direccionCliente }}</p>
              </td>
              <td></td>
          </tr>
          <div class="row">
            <div class="col-md-12">

              <tr>
                <td></td>
                <td>
                  <h3><u>Detalle de la factura</u></h3>
                </td>
              </tr>

            </div>
          </div>
          <br><br><br>
          <tr class="text">

            <th>Descripción</th>
            <th>Kilos</th>
            <th>Precio</th>
            <th>Sub Total</th>
          </tr>
          <tr class="text1"  *ngFor="let datos of todoData">
            <td>  {{ datos.descripcion}}</td>
            <td>   {{ datos.kilo}}</td>
            <td>  $ {{ datos.precio | number}}</td>
            <td>  $ {{ datos.precio * datos.kilo | number}}</td>
          </tr>
          <tr>

          </tr>
          <tr>

          </tr>
          <tr>
             <th scope="row"></th>
             <td colspan="2">TOTAL</td>
             <td class="text1">$ {{ totalVenta | number }}</td>
           </tr>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  (click)="inprimirFactura('facturas')">IMPRIMIR</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">SALIR</button>
      </div>
    </div>
  </div>
</div>
