
    <div class="page ">
      <!-- Main Navbar-->
        <app-cabezera></app-cabezera>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
      <app-menu></app-menu>
      <!--fin menu  -->
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom text-center">Principal</h2>
            </div>
          </header>

          <section class="dashboard-counts no-padding-bottom animated fadeIn">
                     <div class="container-fluid">
                         <div class="row bg-white has-shadow">
                             <div class="col-md-12">

                                 <div class="card">
                                     <div class="card-header bg-primary text-white text-center">
                                         Estadistica de ventas por Tropas
                                        </div>
                                        <div class="card-body">
                                            <hr class="hr">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-hover table-sm">
                                                            <thead class="bg-primary">
                                                            <tr>
                                                                <th class="text-center text-white">Nro. Tropa</th>
                                                                <th class="text-center text-white">Cantidad Medias</th>                                             
                                                            </tr>
                                                            </thead>
                                                       <tr *ngFor="let cantidad of cant">
                                                            <th class="text-center">{{ cantidad.nroTropa}}</th>
                                                            <td class="text-center">{{cantidad.cantMedia}}</td>
                                                            
                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="col-md-4">
                                                    <table class="table table-hover table-sm">
                                                        <thead class="bg-success">
                                                            <tr>
                                                                <th class="text-white">Nro. Tropa</th>
                                                                <th class="text-white">Cantidad</th>
                                                                <th class="text-white">Estado</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let ven of vendido">
                                                                <th class="">{{ ven.nroTropa}}</th>
                                                                <td class="text-center">{{ven.total}}</td>
                                                                <td>{{ven.estado}}</td>
                                                                
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-4">
                                                    <table class="table table-hover table-sm">
                                                        <thead class="bg-success">
                                                            <tr>
                                                                <th class="text-white">Nro. Tropa</th>
                                                                <th class="text-white">Cantidad</th>
                                                                <th class="text-white">Estado</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let dispo of disponible">
                                                                <th class="">{{ dispo.nroTropa}}</th>
                                                                <td class="text-center">{{dispo.total}}</td>
                                                                <td>{{dispo.estado}}</td>
                                                                
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-4">
                                                    <table class="table table-hover table-sm">
                                                        <thead class="bg-success">
                                                            <tr>
                                                                <th class="text-white">Nro. Tropa</th>
                                                                <th class="text-white">Cantidad</th>
                                                                <th class="text-white">Estado</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let cuar of cuarteo">
                                                            <th scope="row">{{ cuar.nroTropa}}</th>
                                                            <td class="text-center">{{cuar.total}}</td>
                                                            <td>{{cuar.estado}}</td>
                                                            
                                                          </tr>
                                                          
                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                                <hr class="hr">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- <div class="card">
                                        <div class="card-header bg-primary text-white">
                                  Estadistica de ventas por Tropas
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Special title treatment</h5>
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div> -->
                         </div>
                     </div>
                 </section>

                         <section class="dashboard-counts no-padding-bottom animated fadeIn">
                            <div class="container-fluid">
                                <div class="row bg-white has-shadow">
                                   
                                       
                                </div>
                            </div>
                        </section>

          <!-- Page Footer-->
         <app-footer></app-footer>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
