
    <div class="page ">
      <!-- Main Navbar-->
        <app-cabezera></app-cabezera>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
      <app-menu></app-menu>
      <!--fin menu  -->
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom text-center">Principal</h2>
            </div>
          </header>

          <section class="dashboard-counts no-padding-bottom animated fadeIn">
                     <div class="container-fluid">
                         <div class="row bg-white has-shadow">
                             <div class="col-md-12">

                                      <div class="row">
                                         <div class="col-md-5"></div>
                                         <div class="col-md-7">
                                           <div class="spiner" *ngIf="loader == false">
                                             <img src="assets/img/cargando.gif" alt="" width="120">
                                           </div>
                                         </div>
                                       </div>
                                 <div class="card" *ngIf="loader == true">
                                     <div class="card-header bg-primary text-white text-center">
                                         Estadistica de existencias por Tropas
                                        </div>
                                        <div class="card-body">
                                            <hr class="hr">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form #action="ngForm" (ngSubmit)="getExistencias(action)"  *ngIf="!cambio"  >
                                                        
                                                        <div class="col-md-12 to" >
                                                            <div class="input-group">
                                                             <div class="input-group-prepend">
                                                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"> </i> </span>
                                                             </div>
                                                             <input (keypress)="dataToggle2()" type="text" name="nroTropa" [(ngModel)]="nroTropa" autocomplete="off" class="form-control" placeholder="Elija una Tropa" aria-label="Username" aria-describedby="basic-addon1"  autocomplete="off">
                                                             <input  type="hidden" name="nroTropa" [(ngModel)]="nroTropa" autocomplete="off" class="form-control" placeholder="Eligir un Cliente" aria-label="Username" aria-describedby="basic-addon1"  autocomplete="off" required>
                                                          </div>
                                                
                                                          <div class="product" *ngIf="toggle2">
                                                              <div class="alert alert-primary">
                                                               <div (click)="selectTropa(item)" class="data" *ngFor="let item of tropa | dataFilter : nroTropa">
                                                                 {{ item.nroTropa }}
                                                               </div>
                                                               </div>
                                                          </div>
                                                     </div>
                                                     <br>
                                                     <div class="col-md-3"></div>
                                                     <div class="col-md-3">
                                                        <button [disabled]="action.invalid"
                                                        type="submit" class="btn btn-primary"> Consultar</button>
                                                      </div>
                                                    </form>
                                                    

                                                    <table class="table table-bordered" *ngIf="cambio" >
                                                        <thead>
                                                            <tr>
                                                                <td>Nro Tropa</td>
                                                                <td>Dueño de hacienda</td>
                                                                <td>Fecha Faena</td>
                                                                <td>Cant Medias Disponibles</td>
                                                                <td>Kilos Disponibles</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr >
                                                                <td class="text-center">{{nroTropa}}</td>
                                                                <td class="text-center">{{dueHacienda}}</td>
                                                                <td class="text-center">{{fechaFaena | date: 'd-MM-yyyy'}}</td>
                                                                <td class="text-center">{{total}} Unidades</td>
                                                                <td class="text-center">{{totalKilos}} KG</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <hr>
                                                    <div class="col-md-3" *ngIf="cambio">
                                                        <button (click)="nueva()"
                                                        type="button" class="btn btn-primary">Nueva Consultar</button>
                                                      </div>
                                            </div>
                                              
                                            </div>
                                        </div>
                                        
                                    </div>
                                  
                         </div>
                     </div>
                     </div>
                 </section>

                        
          <!-- Page Footer-->
         <app-footer></app-footer>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
