
    <div class="page ">
      <!-- Main Navbar-->
        <app-cabezera></app-cabezera>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
      <app-menu></app-menu>
      <!--fin menu  -->
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom text-center">Principal</h2>
            </div>
          </header>

          <section class="dashboard-counts no-padding-bottom animated fadeIn">
                     <div class="container-fluid">
                         <div class="row bg-white has-shadow">
                             <!-- Item -->
                             <div class="col-xl-3 col-sm-6">
                                 <div class="item d-flex align-items-center">
                                     <div class="icon bg-violet">
                                         <i class="icon-user"  data-toggle="tooltip" data-placement="top" title="Cantidad de Recordatorios Pendientes">
                                         </i>
                                     </div>
                                     <div class="title" data-toggle="tooltip" data-placement="top" title="Cantidad de Recordatorios Pendientes">
                                         <span>
                                             Nuevos
                                             <br/>
                                             Recor.
                                         </span>
                                         <div class="progress">
                                             <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="number" data-toggle="tooltip" data-placement="top" title="Cantidad de Recordatorios Pendientes">
                                         <strong>
                                             25
                                         </strong>
                                     </div>
                                 </div>
                             </div>
                             <!-- Item -->
                             <div class="col-xl-3 col-sm-6">
                                 <div class="item d-flex align-items-center">
                                     <div class="icon bg-red">
                                         <i class="icon-padnote" data-toggle="tooltip" data-placement="top" title="Cantidad de Archivos Subidos">
                                         </i>
                                     </div>
                                     <div class="title" data-toggle="tooltip" data-placement="top" title="Cantidad de Archivos Subidos">
                                         <span>
                                             Archivos
                                             <br/>
                                             Nube
                                         </span>
                                         <div class="progress">
                                             <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="number" data-toggle="tooltip" data-placement="top" title="Cantidad de Archivos Subidos">
                                         <strong>
                                             70
                                         </strong>
                                     </div>
                                 </div>
                             </div>
                             <!-- Item -->
                             <div class="col-xl-3 col-sm-6">
                                 <div class="item d-flex align-items-center">
                                     <div class="icon bg-green">
                                         <i class="icon-bill">
                                         </i>
                                     </div>
                                     <div class="title">
                                         <span>
                                             New
                                             <br/>
                                             Invoices
                                         </span>
                                         <div class="progress">
                                             <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="number">
                                         <strong>
                                             44
                                         </strong>
                                     </div>
                                 </div>
                             </div>
                             <!-- Item -->
                             <div class="col-xl-3 col-sm-6">
                                 <div class="item d-flex align-items-center">
                                     <div class="icon bg-orange">
                                         <i class="icon-check">
                                         </i>
                                     </div>
                                     <div class="title">
                                         <span>
                                             Open
                                             <br/>
                                             Cases
                                         </span>
                                         <div class="progress">
                                             <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="number">
                                         <strong>
                                             35
                         <div id="number"></div>
                                         </strong>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </section>

                 <section class="dashboard-counts no-padding-bottom animated fadeIn">
                            <div class="container-fluid">
                                <div class="row bg-white has-shadow">
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="item d-flex align-items-center">
                                            <div class="icon bg-violet">
                                                <i class="icon-user"  data-toggle="tooltip" data-placement="top" title="Cantidad de Recordatorios Pendientes">
                                                </i>
                                            </div>
                                            <div class="title" data-toggle="tooltip" data-placement="top" title="Cantidad de Recordatorios Pendientes">
                                                <span>
                                                    Nuevos
                                                    <br/>
                                                    Recor.
                                                </span>
                                                <div class="progress">
                                                    <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="number" data-toggle="tooltip" data-placement="top" title="Cantidad de Recordatorios Pendientes">
                                                <strong>
                                                    25
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="item d-flex align-items-center">
                                            <div class="icon bg-red">
                                                <i class="icon-padnote" data-toggle="tooltip" data-placement="top" title="Cantidad de Archivos Subidos">
                                                </i>
                                            </div>
                                            <div class="title" data-toggle="tooltip" data-placement="top" title="Cantidad de Archivos Subidos">
                                                <span>
                                                    Archivos
                                                    <br/>
                                                    Nube
                                                </span>
                                                <div class="progress">
                                                    <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="number" data-toggle="tooltip" data-placement="top" title="Cantidad de Archivos Subidos">
                                                <strong>
                                                    70
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="item d-flex align-items-center">
                                            <div class="icon bg-green">
                                                <i class="icon-bill">
                                                </i>
                                            </div>
                                            <div class="title">
                                                <span>
                                                    New
                                                    <br/>
                                                    Invoices
                                                </span>
                                                <div class="progress">
                                                    <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="number">
                                                <strong>
                                                    44
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Item -->
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="item d-flex align-items-center">
                                            <div class="icon bg-orange">
                                                <i class="icon-check">
                                                </i>
                                            </div>
                                            <div class="title">
                                                <span>
                                                    Open
                                                    <br/>
                                                    Cases
                                                </span>
                                                <div class="progress">
                                                    <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="number">
                                                <strong>
                                                    35
                                <div id="number"></div>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

          <!-- Page Footer-->
         <app-footer></app-footer>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
