<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-7">
    <div class="spiner" *ngIf="loader == false">
      <img src="assets/img/cargando.gif" alt="" width="120">
    </div>
  </div>
</div>


<div   *ngIf="loader == true">
<nav aria-label="breadcrumb to">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-list"></i> Notas de Crédito  </li>
    </ol>
  </nav>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-search"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Buscar Nombre "  [(ngModel)]="filterQuery" aria-label="Username" aria-describedby="basic-addon1">
    </div>
<div class="table-responsive to">
  <table class="table table-bordered table-hover table-sm" 
  [mfData]="data | dataFilter : filterQuery"
  #mf="mfDataTable"
  [mfRowsOnPage]="rowsOnPage" >
      <thead class="bg-primary ">
        <tr>
          
          <th class="text-white">Fecha</th>
          <th class="text-white">Cliente</th>
          <th class="text-white">Descripción</th>
          <th class="text-white">Cantidad</th>
          <th class="text-white">Importe</th>
          <th class="text-white">Total</th>
          <!-- <th class="text-white">Acciones</th> -->
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{ item.fechaCredito | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.nombreCliente }}</td>
            <td>{{ item.descripcionCredito }}</td>
            <td>{{ item.cantidadCredito }}</td>
            <td>{{ item.importeCredito }}</td>
            <td>{{ item.totalCredito }}</td>    
             <!-- <td class="text-center"> -->
               <!-- <a  title="Editar Nota de Credito" class="btn btn-outline-primary btn-sm" [routerLink]="['../editarCredito',item.idNotaCredito,item.idCliente,item.nombreCliente,item.descripcionCredito,item.cantidadCredito,item.importeCredito,item.totalCredito]"><i class="fa fa-edit fa-1x  btn-outline-primary"></i></a> -->
              <!-- <span  class="btn btn-outline-danger btn-sm" title="Eliminar Vendedor" 
                (click)="eliminar(item.idNotaCredito , item.idCliente, item.totalCredito)"><i class="fa fa-trash fa-1x  btn-outline-danger"></i></span>
             </td> -->
          </tr>
             <tr *ngIf="!nada">
               <td colspan="6" class="text-center" >
                 <h3>No hay ninguna nota de crédito    en estos momentos.</h3>
               </td>
             </tr>
          </tbody>
          <tfoot>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[2,3,5,10,25]"></mfBootstrapPaginator>
              <span class="alert alert-info" *ngIf="nada"> Cantidad de notas de créditos : {{ data.length}}</span>
              <!-- <span class="alert alert-info"> Cantidad de Kilos: {{ total }}</span> -->
            </td>
          
          </tfoot> 
          
        </table>
      </div>    
    </div>
    
    <!-- Modal -->
    <div class="modal fade"  id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title alert alert-danger" id="exampleModalLabel">Eliminar nota de créditos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-primary" (click)="eliminarNotaCredito()">SI   ELIMINAR</button>
          </div>
        </div>
      </div>
    </div>
    
    
    
    