<div class="page">

  <app-cabezera></app-cabezera>
  <div class="page-content d-flex align-items-stretch">

 <app-menu></app-menu>

   <div class="content-inner">

         <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom text-center">Ventas</h2>
          </div>
        </header>

     <div class="container main">
        <div class="fondo">
          <!-- aqui va el contenido... -->
          <nav class="nav nav-pills nav-fill">
           <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['ventas1']"><i class="fa fa-list"></i> Ventas</a>
           <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['facturas']" ><i class="fa fa-pencil"></i>Facturas</a>
           <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['reportes']" ><i class="fa fa-plus-square"></i> Reportes</a>
          </nav>
          <router-outlet></router-outlet>

    <app-footer></app-footer>
    </div>
  </div>
</div>
