
    <div class="page">
      <!-- Main Navbar-->
      <app-cabezera></app-cabezera>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
      <app-menu></app-menu>
      <!--fin menu  -->
        <div class="content-inner animated fadeIn">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom text-center">Productos</h2>
            </div>
          </header>

          <div class="container main">
            <div class="fondo">
            <!--aqui va el contenido..  -->
             <nav class="nav nav-pills nav-fill">
              <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['listadoPro']"><i class="fa fa-list"></i>  Listado Productos</a>
              <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['agregarPro']" ><i class="fa fa-plus-square"></i>  Agregar Productos</a>
              <a class="nav-item nav-link" routerLinkActive="activo"  [routerLink]="['editarPro']" ><i class="fa fa-pencil"></i>  Editar Productos</a>
             </nav>
             <router-outlet></router-outlet>
            </div>
          </div>

          <!-- Page Footer-->
         <app-footer></app-footer>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
