<div class="row tops" *ngIf="dato">
  <div class="col">
    <div class="card text-center">
  <h5 class="card-header text-success">Exitos!!</h5>
  <div class="card-body">
    <h5 class="card-title">Inventario Modificado!</h5>
    <p class="card-text text-info">El inventario ha sido <strong>modificado</strong> correctamente en la base de datos.</p>
    <button (click)="back()" class="btn btn-danger">Volver</button>
  </div>
</div>
  </div>
</div>

<div class="row tops" *ngIf="datos">
  <div class="col">
    <div class="card text-center">
  <h5 class="card-header text-success">Exitos!!</h5>
  <div class="card-body">
    <h5 class="card-title">Inventario Cuarteo Agregado!</h5>
    <p class="card-text text-info">El inventario del cuarteo ha sido <strong>agregado</strong> correctamente en la base de datos.</p>
    <button (click)="back()" class="btn btn-danger">Volver</button>
  </div>
</div>
  </div>
</div>


<!-- <div class="row tops" *ngIf="dato">
  <div class="col">
    <div class="card text-center">
  <h5 class="card-header text-success">Exitos!!</h5>
  <div class="card-body">
    <h5 class="card-title">Inventario Eliminado!</h5>
    <p class="card-text text-info">El inventario ha sido <strong>eliminado</strong> correctamente en la base de datos.</p>
    <button (click)="back()" class="btn btn-danger">Volver</button>
  </div>
</div>
  </div>
</div> -->
