
<router-outlet></router-outlet>

<!-- 

    <div class="page">

      <app-cabezera></app-cabezera>
      <div class="page-content d-flex align-items-stretch">

     <app-menu></app-menu>

       <div class="content-inner">

             <header class="page-header">
              <div class="container-fluid">
                <h2 class="no-margin-bottom text-center">Productos</h2>
              </div>
            </header>

         <div class="container main">
            <div class="fondo">
              aqui va el contenido...

        <app-footer></app-footer>
        </div>
      </div>
    </div> -->
