<div class="tab-content tops" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form #forma="ngForm" (ngSubmit)="vender(forma)" *ngIf="!pro">
            <div class="row">
              <div class="col-md-12 to" >
                <div class="input-group">
                 <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"> </i> </span>
                 </div>
                 <input (keypress)="dataToggle1()" type="text" name="nombreCliente" [(ngModel)]="nombreCliente" autocomplete="off" class="form-control" placeholder="Elija un Cliente" aria-label="Username" aria-describedby="basic-addon1"  autocomplete="off">
                 <input  type="hidden" name="idCliente" [(ngModel)]="idCliente" autocomplete="off" class="form-control" placeholder="Eligir un Cliente" aria-label="Username" aria-describedby="basic-addon1"  autocomplete="off" required>
              </div>
  
              <div class="product" *ngIf="toggle1">
                  <div class="alert alert-primary">
                   <div (click)="selectCli(item)" class="data" *ngFor="let item of datas | dataFilter : nombreCliente">
                     {{ item.nombreCliente }}
                   </div>
                   </div>
              </div>
         </div>
              <div class="col-md-3"></div>
                <div class="col-md-3" *ngIf="!cambio" >
                <button [disabled]="forma.invalid"
                type="submit" class="btn btn-primary"> Consultar</button>
              </div>
                <div class="col-md-3" *ngIf="cambio" >
                  <button 
                  type="submit" class="btn btn-primary"> <i class="fa fa-spinner fa-spin"></i> Buscando ....</button>
                </div>
            </div>
           
          </form>
  
  
    <div class="table-responsive" *ngIf="pro">
        <div class="card">
         <div class="card-body">
           <table class="table table-bordered table-sm"
           [mfData]="data | dataFilter : filterQuery"
     #mf="mfDataTable"
     [mfRowsOnPage]="rowsOnPage">
    <thead class="bg-info">
    <tr>
    
      <th class="text-white" scope="col">Fecha Venta</th>
      <th class="text-white" scope="col">Descripción</th>
     <th class="text-white" scope="col"> Nombre del Cliente</th>
     <th class="text-white" scope="col">Kilo Media</th>
     <th class="text-white" scope="col">Precio Media</th>
     
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data" >
      <td>{{ item.fecha| date: 'dd/MM/yyyy' }}</td>
      <td>$ {{ item.descripcion }}</td>
      <td>{{ item.nombreCliente }}</td>
      <td>{{ item.kilo }}</td>
      <td>{{ item.precio }}</td>
      
    </tr>
       <tr *ngIf="nada == false">
         <td colspan="6" class="text-center" >
           <h3>No hay saldos pendientes en estos momentos.</h3>
         </td>
       </tr>
    </tbody>
    <tfoot>
      <td colspan="6"  >
        <mfBootstrapPaginator [rowsOnPageSet]="[3,5,10,25,50,100,200]"></mfBootstrapPaginator>
        <span class="alert alert-info" *ngIf="nada"> Cantidad de productos comprados : {{ data.length}}</span>
        <span class="alert alert-info"> Importe total de las ventas: $ {{ total | number  }}</span>
      </td>
    
    </tfoot>
    </table>
    
    
    <div class="row"  *ngIf="nada">
      <div class="col-md-5"></div>
      <div class="col-md-4">
        <button type="button"  data-toggle="modal" data-backdrop="false" data-target="#imprimir1"  class="btn btn-warning">Imprimir listado Completo</button>
      </div>
      <div class="col-md-4">
          <button type="reset"  (click)="nueva()"  class="btn btn-warning">Nueva Consulta</button>
        </div>
    </div>
    
        </div>
       </div>
      </div>
    </div>

</div>


    <!-- Modal -->

      
<div class="modal fade bd-example-modal-lg" id="imprimir1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div id="imprimir">
          <div class="row">   
            <div class="col-md-12">
              <div class="card border-primary border">
                <div class="card-header text-center"><h3>Reporte de ventas</h3>
                  
                </div>
                <div class="card-body">
                  <h3 class="card-title">Cliente : {{nombreCliente }}</h3>
                  <h4 class=""> Cantidad de productos comprados : {{ cant }}</h4>
                  <h4> Importe total de las ventas: $ {{ total | number  }}</h4>   
                  </div>
                </div>
  
                      <table class="table table-bordered table-sm to">
               <thead class="bg-info">
               <tr>
               
                 <th class="text-white" scope="col">Fecha Venta</th>
                 <th class="text-white" scope="col">Descripción</th>
                <th class="text-white" scope="col"> Nombre del Cliente</th>
                <th class="text-white" scope="col">Kilo Media</th>
                <th class="text-white" scope="col">Precio Media</th>
                
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let item of data" >
                 <td>{{ item.fecha| date: 'dd/MM/yyyy' }}</td>
                 <td>$ {{ item.descripcion }}</td>
                 <td>{{ item.nombreCliente }}</td>
                 <td>{{ item.kilo }}</td>
                 <td>{{ item.precio }}</td>
                 
                </tr>
                <tr>
                  
                </tr>
               </tbody>
               </table>
              </div>
            </div>
          </div>
            <div class="modal-footer">
              <button type="button" (click)="print('imprimir')" class="btn btn-primary">IMPRIMIR</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">SALIR</button>
            </div>
        </div>
      </div>
    </div>  