<form #forma="ngForm" (ngSubmit)="agregarCli(forma)">
<div class="container to animated fadeIn">
   <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
         <ol class="breadcrumb text-center">
          <li class="breadcrumb-item active " aria-current="page">Agregar Cliente</li>
         </ol>
       </nav>
      </div>
     <div class="col-md-6 to">
       <div class="input-group mb-3">
        <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1"><i class="fa fa-edit"> </i> </span>
        </div>
        <input type="text" name="nombreCliente" ngModel class="form-control" placeholder="Nombre del Cliente" aria-label="Username" aria-describedby="basic-addon1" required autocomplete="off">
     </div>
     </div>
     <div class="col-md-6 to">
       <div class="input-group mb-3">
        <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1"><i class="fa fa-edit"> </i> </span>
        </div>
        <input type="number" name="telefonoCliente" ngModel class="form-control" placeholder="Teléfono del Cliente" aria-label="Username" aria-describedby="basic-addon1" required autocomplete="off">
     </div>
     </div>
     <div class="col-md-6 to">
       <div class="input-group mb-3">
        <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1"><i class="fa fa-edit"> </i> </span>
        </div>
        <input type="text" name="direccionCliente" ngModel class="form-control" placeholder="Dirección del Cliente" aria-label="Username" aria-describedby="basic-addon1" required autocomplete="off">
     </div>
     </div>


      <div class="col-md-6 to" *ngIf="cambio== false">
        <button [disabled]="forma.invalid"
        type="submit" class="btn btn-primary btn-block btn-lg">Agregar Cliente</button>
      </div>
      <div class="col-md-6 to" *ngIf="cambio== true">
        <button [disabled]="forma.invalid"
        type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-spinner fa-spin"></i> Guardando...</button>
      </div>
   </div>
</div>
</form>
<hr class="hr">
